extends ../main/_layout

block content
        head
          script(src='static/chat.js')
          script(src='/socket.io/socket.io.js')
        body
         div
          p#usernameChat(style='display: none; visability: hidden;') #{user.username}
          #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
          .controls
            input#field(style='width:350px;')
            input#send(type='button', value='send')


