extends ../main/_layout

block styles
    link(rel="stylesheet", href="/static/bower_components/toastr/toastr.css")

block headScripts
    script(type='text/javascript', src='./static/js/user-profile.js')
    script(type='text/javascript', src='./static/js/validator.js')
    script(type='text/javascript', src='/static/bower_components/toastr/toastr.js')

block content
    .row
        div.user-container.col-xs-offset-1.col-xs-10.col-sm-offset-4.col-sm-4
            h3.username(id=user._id) Hello, #{user.username}
            h4 You are a cool #{user.role} user
            div.img-container
                img.default-user-avatar(id="default-user-avatar", src=user.avatarUrl, height=140,width=140)
            div.form-group.col-sm-8
                label.labelSettings Change avatar
                input.form-control(id="user-avatar" type="text" name="avatarUrl" placeholder="Avatar url")
            div.form-group.col-sm-8
               label.labelSettings New password
               input.form-control(id="user-new-password" type="password" name="password")
            div.form-group.col-sm-8
                label.labelSettings Repeat new password
                input.form-control(id="user-repeat-new-password" type="password" name="repeat-password")
                button.btn.btn-success.col-xs-6-previous(id="save-changes" type="submit")
                    | Save Changes
                    form(action="/profile" method="get")
                    button.btn.btn-danger.col-xs-6-next(id="cancel-changes",href="/profile/")
                        | Cancel