extends ../main/_layout

block content
    div.text-center: div
        each forum in forums
            div: a(href='/forums/' + forum.id): strong= forum.name
        if user
            form.pagination(action="/forums" method="post")
                input.form-control(type="text" name="name" placeholder="Enter a name of the forum")
                button.btn.btn-success
                    | Create Forum