extends ../_layout

block content
    form(action="/forums/topics/create" method="post")
        input.form-control(type="text" name="topic-name" placeholder="Enter a name of the topic")
        button.btn.btn-success.col-xs-12
            | Create Topic