extends ../main/_layout

block content
    div.im-centered.text-center
        h1.well.well-sm Topic: #{topic.name}

        each comment in topic.comments
            div.comment-header.small
                span #{comment.author} said:
            p.comment.comment-body #{comment.content}
        if user
            form.pagination(action='/forums/' + forumId + '/topics/' + topic.id method="post")
                textarea.form-control(type="text" name="content" placeholder="Enter a comment")
                button.btn.btn-success
                    | Add Comment