.labelSettings {
    margin: 0;
}

.im-centered {
    margin: auto;
    width: 500px
}

.comment-body {
    font-size: 20px;
    color: black;
    min-height: 50px;
    background-color: #c4e3f3;
    display: block;

    border-left: 3px solid #006193;
    border-right: 3px solid #006193;
    border-bottom: 3px solid #006193;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    margin-bottom: 10px;
}

.comment-header {
    font-size: 15px;
    font-weight: bold;
    color: black;
    height: 30px;
    background-color: #c4e3f3;
    display: block;

    border: 3px solid #006193;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.comment {
    word-wrap: break-word;
}

input.form-control {
    background-color: #f9f9f9;
}

div.form-group {
    margin-bottom: 0px;
}

h3.username {
    margin-right: 85px;
}

img.default-user-avatar {
    align-items: center;
    border-radius: 50%;
    margin-left: 25px;
}

button#save-changes {
    margin-left: 15px;
}

button#cancel-changes {
    margin: 0;
}

h3.username {
    text-align: center;
}