.labelSettings {
    margin: 0;
}
input.form-control{
    background-color: #f9f9f9;
}
div.form-group{
    margin-bottom:0px;
}
h3.username{
    margin-right: 85px;
}
img.default-user-avatar{
    align-items: center;
    border-radius: 50%;
    
    margin-left: 25px;
}
button#save-changes{
    margin-left: 15px;
}
button#cancel-changes{
    margin: 0;
}
h3.username{
    text-align: center;
}