extends ../main/_layout

block content
  div.text-center
    strong
      h3 Game mode: #{gameInfo.gameMode}
      div.panel-info.panel-default
        each summoner in gameInfo.participants.blue
            div.panel-heading(style='color: black')
              if summoner.bot
                p BOT
              else
                a(href='/summonerinfo?summonername=' + summoner.summonerName + '&region=' + gameInfo.platformId) #{summoner.summonerName}

      div.panel-danger.panel-default
        each summoner in gameInfo.participants.red
            div.panel-heading(style='color: black')
              if summoner.bot
                p BOT
              else
                a(href='/summonerinfo?summonername=' + summoner.summonerName + '&region=' + gameInfo.platformId) #{summoner.summonerName}

    