include ./navbar-1

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")

    link(rel="stylesheet", href="/static/css/main.css", type='text/css')    
    block styles
    script(src="/static/js/requester.js")
    block headScripts

    title
        block app-title
        | League of Ninjas
body
    block content
