extends ./_layout

block content
  div.text-center
    h2 Welcome Summoner!
    h3(style='padding-bottom: 24px') Here you can find awesome tools to enhance your experience while playing League of Legends

  div#homepageCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-targer='#homepageCarousel' data-slide-to='0')
      li(data-targer='#homepageCarousel' data-slide-to='1')
      li(data-targer='#homepageCarousel' data-slide-to='2')
      li(data-targer='#homepageCarousel' data-slide-to='3')
    div.carousel-inner(role='listbox')
      div.item.active
        img.img-responsive.center-block(src='static/imgs/first.jpg')
      div.item
        img.img-responsive.center-block(src='static/imgs/second.jpg')
      div.item
        img.img-responsive.center-block(src='static/imgs/third.jpg')
      div.item
        img.img-responsive.center-block(src='static/imgs/fourth.jpg') 
    a.left.carousel-control(href='#homepageCarousel' role='button' data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#homepageCarousel' role='button' data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
  div.container
    div.row
      div.col-md-4.text-center
        h3 Chat
        p Here you can chat with other summoners like you, in a global chat. But be careful! It's like Snapchat and we don't remember ANYTHING posted there    
        p
          a.btn.btn-success(href='/chat' role="button") Open Chat
      div.col-md-4.text-center
        h3 Summoner Info
        p You want to see the profile of a summoner and see his rank and ranked wins/loses? Come here!     
        p
          a.btn.btn-success(href='/summonersearch' role="button") Open Summoner Search   
      div.col-md-4.text-center
        h3 Game Info
        p Are you curious about the game you are in? Come here and see some info about your opponents!
        p
          a.btn.btn-success(href='/gamesearch' role="button") Open Game Search
