extends ../../node_modules/pug-bootstrap/_bootstrap


block body
	// Static navbar
	+navbar
		+nav_item("/home")
			| League of Ninjas
		+nav_item("/forums")
			| Forums
		if user

		else
		+nav_item("signup")
			| Sign up
		+nav_item("signin")
			| Sign in
		+nav_item("summonerInfo")
			| Summoner Info
		+nav_item("gameinfo")
			| Game Info

