extends ../main/_layout

block content
    div.text-center
        form.pagination(action="/signin" method="post")
            input.form-control(type="text" name="username" placeholder="Enter Username")
            input.form-control(type="password" name="password" placeholder="Enter Password")
            button.btn.btn-success
                | Sign in