extends ../main/_layout

block content
    div.text-center
        form.pagination(action="/summonerinfo" method="get")
            input.form-control(type="text" name="summonername" placeholder="Enter Summoner Name")
            select.form-contorl(name="region")
                option(value="eune") EUNE
                option(value="euw") EUW
                option(value="na") NA
                option(value="jp") JP
                option(value="kr") KR
                option(value="br") BR
                option(value="lan") LAN
                option(value="las") LAS
                option(value="oce") OCE
                option(value="ru") RU
                option(value="tr") TR
            p
            button.btn.btn-success           
                | Search Summoner